.filterStudents{
    text-align: center;
    font-family: 'poppins';
    box-shadow:   0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    background-color: #f6fafd;
    width: 550px;
    height: 400px;
    margin-left: 110px;
    margin-top: 30px;
    float: left;
}

.filterStudents h1{
    font-size: bold;
}

.filterStudents h3{
    font-size: 25px;
    margin-top: 15px;
}

.filterStudents select{
    margin-top: 20px;
    width: 210px;
    height: 30px;
    background-color: #0088ff;
    color: #fff;
    border-radius: 25px;
    font-size: 18px;
}
.filterStudents option{
    background-color: white;
    color: black;
    text-align: right;
}

.filterStudents img{
    margin-top: 20px;
    width: 180px;
}
.filterStudents input{
    text-align: center;
	width: 70%;
	height: 50px;
	border-radius: 25px;
	outline:  none;
	background-image: linear-gradient(to right, #0099ff, #48bef5, #0099ff);
	background-size: 200%;
	font-size: 1.8rem;
	color: #f6fafd;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 2rem 5rem;
	cursor: pointer;
	transition: 0.5s;
}

.aside-info {
    text-align: center;
    font-family: 'poppins';
    box-shadow:   0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    background-color: #f6fafd;
    width: 550px;
    height: 400px;
    margin-right: 110px;
    margin-top: 30px;
    float: right;
}

.aside-info img{
    width: 200px;
}

.aside-info h1{
    font-size: 22px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.aside-info p{
    font-size: 17px;
    text-align: center;
}

.selectNote{
    text-align: center;
    font-family: 'poppins';
    box-shadow:   0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    background-color: #f6fafd;
    width: 550px;
    height: 400px;
    margin-left: 110px;
    margin-top: 30px;
    float: left;
}


.selectNote h3{
    font-size: 25px;
    margin-top: 15px;
    float: left;
    margin-left: 60px;
}

.selectNote select{
    margin-top: 20px;
    margin-left: 30px;
    float: left;
    font-size: 20px;
    height: 30px;
    background-image: linear-gradient(to right, #0099ff, #48bef5);
    color: #fff;
    border-radius: 25px;
}
.selectNote option{
    background-color: white;
    color: black;
    text-align: right;
    width: 50px;
    font-size: 20px;
}

.selectNote img{
    margin-top: 20px;
    width: 180px;
}
.selectNote input{
    text-align: center;
	width: 70%;
	height: 50px;
	border-radius: 25px;
	outline:  none;
	background-image: linear-gradient(to right, #0099ff, #48bef5, #0099ff);
	background-size: 200%;
	font-size: 1.8rem;
	color: #f6fafd;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
    margin-top: 80px;
    margin-left: 80px;
	cursor: pointer;
	transition: 0.5s;
}
